$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;



.container-new-section{
  display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: auto;
    padding-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vw;
    justify-content: space-around;

}

.new-section{
  display: flex;
  text-decoration: none;
  width: 19vw;
  height: auto;
  margin: 1vw;
  border-radius: 10px;
  transition-property: all;
    transform: scale(1);
    img{
      width: 19vw;
      height: auto;
      border-radius: 1vw;
    }
}
.new-section img:hover{
  border: 0px $green1 dashed;
  box-shadow: #19AC54 0vw 0vw 1vw 0px;
  z-index: 10;
  transition-duration: 0.25;
  transform: scale(1.03);
    
    
}

.text-new-section {
  font-size: 3vh;  
  font-weight: bold;
  color: $black;
  display: flex;
  justify-content: center;
}
// @media(max-width: 800px){
//   .container-new-section{
//     flex-direction: row;
//     align-content: flex-start;
//     align-items: flex-start;
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     width: vw;
//     height: auto;
//     margin: auto;
//     padding: auto;
//   }
// 
@media (max-width: 768px) {
  .container-new-section {
    flex-direction: row;
    .new-section{
      width: 29vw;
      height: auto;
      img{
        width: 29vw;
        height: auto;
        border-radius: 1.5vw;
      }
      }

  }
}

// @media (max-width: 480px) {
//   .new-section{
//     width: 40vw;
//     height: auto;
//     }
//   .container {
//     flex-direction: row;
//   }
  // .button-banner{
  //   top: 30vh;
  // }
// }