$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-image: linear-gradient(0deg, #19AC5430,transparent);
  border-bottom: 3px #19AC5499 solid;
  border-radius: 8px;
  //backdrop-filter: blur(5px);
  margin:auto;
  .content-footer{
  display: flex;
  justify-content: center;
  }
  .icon-social{
    width: 5vh;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    transition-property: all;
    transform: scale(1);
  }
  .icon-social:hover{
    box-shadow: #19AC54 0px 1px 1px -1px;
    transition-duration: 0.25;
    transform: scale(1.08);
  }
}

@media (max-width: 800px) {
  .content-footer{
    display: flex;
    justify-content: center;    
    .icon-social{
      width: 5vw;
      height: auto;
    }
  }
}