
$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;

header{
  display:flex;
  top: 0;
  position: sticky;
  z-index: 1;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(7, 0, 12,.7);
  backdrop-filter: blur(5px);
  a{
    margin-top: .3vw;
    padding:0;
  }
  .logo{
    width:7vw; 
    height: auto;
    margin: auto;
    
  }
  // .logo2{
  //   display: none;
  // }
  
  

.botones{
  width: auto;
  height: auto;
  font-size: 13px;
  
  
  .button-header{
    height: auto;
    width: auto;
    background-color: $green1;
    color: $black;
    border-radius: 10px;
    border: 0px $green1;
    transition-property: all;
    transform: scale(1);
    font-weight: bold;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    }
    .button-header:hover{
      color:$withe;      
      font-weight: bold;
      background: rgb(7, 0, 12, .5);
    border: $green1 .1px solid;
    transition-duration: 0.25;
    transform: scale(1.03);
    }
    
    
}
@media(max-width: 800px){
  .botones{
    width: auto;
  height: auto;
    .button-header{
      width: auto;
      height: auto;
    }
  }
  // .logo{
  //   display: none;
  // }
  .logo{
    display: block;
    width: 20vw;
    height: auto;
  }
}
}
@media (max-width: 768px) { 
  header{
    padding: 1vh;
  }
  .botones{
    width: auto;
  height: auto;
    .button-header{
      width: auto;
      height: auto;
    }
  }
  .logo{
    display: block;
    width: 15vw;
    margin:auto;
    height: auto;
    
  }
}

@media(max-width: 480px){
  .botones{
    width: auto;
  height: auto;
    .button-header{
      
      width: auto;
      height: auto;
    }
  }
  
}

