
$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;

#scroll-horizontal{
  margin-top: 5vw;
  width: 90vw;
  height: auto;
  margin-left: auto;
margin-right: auto;
// border-top: solid $green1 1px;
// box-shadow: $green1 0px -1px 1px -1px;
  
}

.contenedor-detalles{
display: flex;
overflow-x: auto;
width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: 6vh;
border-radius: 1vw;
}


.contenedor-detalles::-webkit-scrollbar-thumb{
  background-color: $green1;
  border-radius: 15px;
  
}
.contenedor-detalles::-webkit-scrollbar{
  width: 15px;
  height: 1.5vh;
}
.contenedor-detalles::-webkit-scrollbar-track{
  background-color: $black;
  
}
.detalle{
  display:flex ;
  transition-property: all;
    transform: scale(1);

  
  img{
    background: #000;
  display: flex;
  width: 19vw;
  height: auto;
  margin: 1vh;
  border-radius: 1vw;
  }
}

// .detalle img:hover{
//   border: 1px $green1 solid;
//       transition-duration: 0.25;
//       transform: scale(1);
//     }

.txt{
  margin-left: 11vh;
display: flex;
justify-content:start ;
color: floralwhite;
}

.txt-scroll{
  color: $withe;
  
  
}


//Scroll Horizontal Con Botones - - - - - - - - - - - -
.container{
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  width: 90vw;
  overflow-x: auto;
  display: flex;

  img{
    display: flex;
    width: 50vw;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.slides{
  display:flex ; 
  justify-content:center;
  button{
  margin-top: 0;
  }
}
#slideBack{
  border: 0;
  background-color: transparent;
  padding:1vw;
  margin:1vw;
  margin-top: 0;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: $black;
  padding-bottom: .5vw;
  padding-top: .5vw;
}
#slide{
  border: 0;
  background-color: transparent;
  padding:1vw;
  width: auto;
  padding-bottom: .5vw;
  padding-top: .5vw;
  margin:1vw;
  margin-top: 0;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: $black;
}
.container::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 0px;
  
}
.container::-webkit-scrollbar{
  width: 15px;
  height: 2vh;
}
.container::-webkit-scrollbar-track{
  background-color: transparent;
  
}

#slideBack:hover{
  color:$green1;      
  font-weight: bold;
transition-duration: 0.25;
transform: scale(1.1);
}
#slide:hover{
  color:$green1;      
  font-weight: bold;
transition-duration: 0.25;
transform: scale(1.1);
}

@media(max-width:768px){
  .detalle{
    img{
    width: 40vw;
    height: auto;
    margin: 1vh;
    border-radius: 10px;
    }
  }
  
}