$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;

.txt-portada{
  color: $withe;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin-left: 2vw;
  h2{
    margin: 0;
    margin-bottom: 1vw;
  }
  p{
    margin: 0; 
    margin-bottom: 2vw; 
  }
  ul{
    border-left: 1px solid $green1;
    margin: 0;
  }
}

.txt-video{
  display: flex;
  flex-direction: column;
  
  margin: 2vw;
}
.img-portada{
  width: 30vw;
  height: auto;
  border-radius: 15px;
}
.portada-video{
  display: flex;
  width: 90vw;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.h2{
  display:flex ;
  justify-content: flex-start;
  width: 90vw;
  color: $withe;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5vw;
  font-size: 20px;
}
.container1{
  
  display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: $withe;
    width: 90vw;

  img{
    margin: 1vw;
    padding-bottom: 1vw;
    width: 15VW;
    height: auto;
    display: flex;
    align-items: center;
    border-radius:  10px;
  }
  .EP{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  
}
.collapsible{
  background-color: transparent;
color: white;
cursor: pointer;
padding: 1rem;
border-radius: .3rem .3rem 0 0;
width: 100%;
outline: none;
display: flex;
justify-content: space-between;
align-items: center;
transition: all ease 300ms;
}
.content{
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 300ms ease;
background-color: transparent;
border-radius: 0 0 .3rem .3rem;
border-top: none;
}
//scroll de descarga para los episodios

.scroll-episodes{
  border-radius: 10px;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 5vw;
  overflow-y: auto;
  display: flex;
}
.bg-img{
  width: 25vw;
  border-radius: 10px 10px 0px 0px;
}
.episode{
  background-color: $black;
  border-radius: 10px;
  color: $withe;
  width: 25vw;
  height: auto;
  margin: 1vw;
  
  border-bottom: 1px solid $withe;
}
.container-details{
  margin-top: 2vw;
  display: flex;
  justify-content:space-around;
}
.detail{
  border-radius: 5px;
  text-align: center;
  width: 5vw;
  height: auto;
  border: 1px solid $withe;
  color: $withe;
  font-weight:bolder;
}
.resume{
  text-align: center;
}
.buton-download{
  background-color: $green1;
  color: $withe;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color: $black;
    font-weight: bold;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
}
.scroll-episodes::-webkit-scrollbar-thumb{
  background-color: $green1;
  border-radius: 15px;
  
}
.scroll-episodes::-webkit-scrollbar{
  width: 15px;
  height: 2vh;
}
.scroll-episodes::-webkit-scrollbar-track{
  background-color: $black;
  
}
.buton-download:hover{
  color:$withe;      
  font-weight: bold;
  background: rgb(7, 0, 12, .5);
border: $green1 .1px solid;
transition-duration: 0.25;
transform: scale(1.03);
}

//RESPONSIVE
@media (max-width: 768px){

  .portada-video{
    flex-direction: column;
    
  }
  
  .txt-descripcion{
    font-size: 14px;
    margin: 0;
  }
  .img-portada{
    width: 90vw;
    height: auto;
    border-radius: 10px;
  }
  .txt-portada{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    h2{
      margin-bottom: 2vw;
    }
    p{
      text-align: justify;
      margin-bottom: 5vw;
    }
    ul{
      border-radius: 1px;
      border-left: 1px solid $green1;
      font-size: 12px;
      margin: 0;
      
    }
  }
  .h2{
    font-size: 18px;
    justify-content: center;
  }
  .scroll-episodes{
    
    P{
      color: $withe;
    }
    background-color: transparent;
    border-top: 1px solid $withe;
    margin-bottom: 5vw;
    display: block;
    overflow-y: auto;
    height: 100vw;
    
  }
  .scroll-episodes::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 15px;
    
  }
  .scroll-episodes::-webkit-scrollbar{
    width: 0px;
    height: 0vh;
  }
  .scroll-episodes::-webkit-scrollbar-track{
    background-color: transparent;
    
  }
  .bg-img{
    width: 30vw;
    border-radius: 5px;
  }
  .episode{
    display: flex;
    width: 80vw;
    padding: 2vw;
    border-radius: 5px;
    border: 1px solid $green1;
    margin-top: 2vw;
    margin-left: auto;
  margin-right: auto;
  }
  // .img.details{

  // }
  .container-details{
    background-color: transparent;
    width: auto;
    display: flex;

  }
  .detail{
    color: $withe;
    background-color: transparent;
    width: auto;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding-left:.3vw ;
    padding-right: .4vw;
  }
  .resume{
    
    width: 45vw;
    height: auto;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .buton-download{
    color: $black;
    font-weight: bold;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
  }
  
}