header {
  display: flex;
  top: 0;
  position: sticky;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(7, 0, 12, 0.7);
  backdrop-filter: blur(5px);
}
header a {
  margin-top: 0.3vw;
  padding: 0;
}
header .logo {
  width: 7vw;
  height: auto;
  margin: auto;
}
header .botones {
  width: auto;
  height: auto;
  font-size: 13px;
}
header .botones .button-header {
  height: auto;
  width: auto;
  background-color: #19AC54;
  color: #07000c;
  border-radius: 10px;
  border: 0px #19AC54;
  transition-property: all;
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
header .botones .button-header:hover {
  color: #E8F7D7;
  font-weight: bold;
  background: rgba(7, 0, 12, 0.5);
  border: #19AC54 0.1px solid;
  transition-duration: 0.25;
  transform: scale(1.03);
}
@media (max-width: 800px) {
  header .botones {
    width: auto;
    height: auto;
  }
  header .botones .button-header {
    width: auto;
    height: auto;
  }
  header .logo {
    display: block;
    width: 20vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1vh;
  }
  .botones {
    width: auto;
    height: auto;
  }
  .botones .button-header {
    width: auto;
    height: auto;
  }
  .logo {
    display: block;
    width: 15vw;
    margin: auto;
    height: auto;
  }
}
@media (max-width: 480px) {
  .botones {
    width: auto;
    height: auto;
  }
  .botones .button-header {
    width: auto;
    height: auto;
  }
}
.txt-portada {
  color: #E8F7D7;
  text-align: justify;
  margin-left: 3vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
}

.txt-video {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  margin: 2vw;
}

.img-portada {
  width: 30vw;
  height: auto;
  border-radius: 15px;
}

.portada-video {
  display: flex;
  width: 90vw;
  padding: 2vw;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.h2 {
  display: flex;
  justify-content: center;
  width: 90vw;
  color: #E8F7D7;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #E8F7D7;
  width: 90vw;
}
.container1 img {
  margin: 1vw;
  padding-bottom: 1vw;
  width: 15VW;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.container1 .EP {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
  width: 100%;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 300ms;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease;
  background-color: transparent;
  border-radius: 0 0 0.3rem 0.3rem;
  border-top: none;
}

.scroll-episodes {
  background-color: #19AC54;
  border-radius: 10px;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.bg-img {
  width: 25vw;
}

.episode {
  background-color: #07000c;
  color: #E8F7D7;
  width: 25vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.container-details {
  background-color: #19AC54;
}

.detail {
  width: 5vw;
  height: auto;
  background-color: #07000c;
  color: #E8F7D7;
}

.buton-download {
  background-color: #19AC54;
  color: #E8F7D7;
  text-decoration: none;
}

@media (max-width: 768px) {
  .scroll-episodes {
    background-color: transparent;
    border: 1px solid #19AC54;
  }
  .bg-img {
    border-radius: 5px;
  }
  .episode {
    display: flex;
    width: 80vw;
    padding: 2vw;
    border-radius: 5px;
    border: 1px solid #19AC54;
    margin-bottom: 2.5vw;
  }
  .container-details {
    background-color: transparent;
    width: auto;
    display: flex;
  }
  .detail {
    color: #E8F7D7;
    background-color: transparent;
    width: auto;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding-left: 0.3vw;
    padding-right: 0.4vw;
  }
  .resume {
    font-size: 10px;
    text-align: center;
  }
  .buton-download {
    color: #07000c;
    font-weight: bold;
    padding: 1vw;
    border-radius: 5px;
  }
  .buton-download:hover {
    color: #E8F7D7;
    font-weight: bold;
    background: rgba(7, 0, 12, 0.5);
    border: #19AC54 0.1px solid;
    transition-duration: 0.25;
    transform: scale(1.03);
  }
}
@media (max-width: 800px) {
  .img-portada {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
  }
  .portada-video {
    flex-direction: column;
    padding: 0;
  }
  .txt-portada {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .txt-video {
    font-size: 2.5vw;
    margin-left: 2vw;
  }
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container1 video {
    margin: 1vw;
    padding-bottom: 1vw;
    width: 55VW;
    height: auto;
    display: flex;
    align-items: center;
  }
  .container1 .EP {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.container-new-section {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  height: auto;
  padding-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vw;
  justify-content: space-around;
}

.new-section {
  display: flex;
  text-decoration: none;
  width: 19vw;
  height: auto;
  margin: 1vw;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
.new-section img {
  width: 19vw;
  height: auto;
  border-radius: 1vw;
}

.new-section img:hover {
  border: 0px #19AC54 dashed;
  box-shadow: #19AC54 0vw 0vw 1vw 0px;
  z-index: 10;
  transition-duration: 0.25;
  transform: scale(1.03);
}

.text-new-section {
  font-size: 3vh;
  font-weight: bold;
  color: #07000c;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-new-section {
    flex-direction: row;
  }
  .container-new-section .new-section {
    width: 29vw;
    height: auto;
  }
  .container-new-section .new-section img {
    width: 29vw;
    height: auto;
    border-radius: 1.5vw;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90vw;
  height: auto;
  background-color: #19AC54;
  margin: auto;
  margin-bottom: 1vw;
  border-radius: 1vw;
}
footer .content-footer {
  display: flex;
  justify-content: center;
}
footer .icon-social {
  width: 5vh;
  margin-right: 2vh;
  margin-left: 2vh;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  transition-property: all;
  transform: scale(1);
}
footer .icon-social:hover {
  transition-duration: 0.25;
  transform: scale(1.08);
}

@media (max-width: 800px) {
  .content-footer {
    display: flex;
    justify-content: center;
  }
  .content-footer .icon-social {
    width: 5vw;
    height: auto;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  background-image: url(/assets/img/miniaturas/soutpark-port.png);
  background-size: 100% auto;
  width: 90vw;
  height: 30vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.banner .text-banner {
  padding: 20px;
  margin-bottom: 2vw;
  color: #E8F7D7;
  background: rgba(7, 0, 12, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0px;
}
.banner .text-banner h2 {
  padding: 0;
  margin: 0;
}
.banner .text-banner p {
  font-size: 13px;
}

.ico-play {
  width: 100vw;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}

div .ico-play {
  width: 10vh;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}
div .img-banner {
  max-width: 100%;
  height: auto;
}
div .button-banner {
  display: flex;
  width: 18vw;
  height: auto;
  background: #19AC54;
  backdrop-filter: blur(5px);
  border: 0px solid #07000c;
  font-weight: 900;
  color: #07000c;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
div .button-banner a:link {
  text-decoration: none;
  color: #E8F7D7;
}
div .button-banner:hover {
  background: rgba(7, 0, 12, 0.5);
  border: #19AC54 0.1px solid;
  transition-duration: 0.25;
  transform: scale(1.03);
}
@media (max-width: 1024px) {
  div .button-banner {
    top: 65vw;
    width: 33vw;
    height: 5vh;
    font-size: 1vh;
    border-radius: 3vh;
    font-size: x-large;
  }
}
@media (max-width: 800px) {
  div .banner {
    background-size: 100% 100%;
    width: 90vw;
    height: auto;
  }
}
div .button-banner {
  top: 60vw;
  width: 33vw;
  height: 5vh;
  border-radius: 3vh;
  font-size: small;
}
div .ico-play {
  width: 3vh;
  height: auto;
}

@media (max-width: 768px) {
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
  .button-banner {
    top: 63vw;
    width: 30vw;
    height: auto;
    border-radius: 3vh;
    font-size: small;
    font-weight: 300;
  }
  .button-banner p {
    font-weight: 500;
  }
  .ico-play {
    width: 3vh;
    height: auto;
  }
  .text-banner {
    border-radius: 10px;
  }
  .text-banner h2 {
    padding: 0;
    margin: 0;
  }
  .text-banner p {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .button-banner {
    top: 64vw;
    right: 33vw;
    width: 35vw;
    height: auto;
    font-size: small;
    border-radius: 3vh;
  }
  .ico-play {
    width: 3vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
}
@media (max-width: 380px) {
  .button-banner {
    top: 31vh;
    right: 36vw;
    width: 33vw;
    height: auto;
    font-size: xx-small;
  }
  .ico-play {
    width: 2vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
}
#scroll-horizontal {
  margin-top: 4vw;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-detalles {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6vh;
  border-radius: 1vw;
}

.contenedor-detalles::-webkit-scrollbar-thumb {
  background-color: #19AC54;
  border-radius: 15px;
}

.contenedor-detalles::-webkit-scrollbar {
  width: 15px;
  height: 1vh;
}

.contenedor-detalles::-webkit-scrollbar-track {
  background-color: #07000c;
}

.detalle {
  display: flex;
  transition-property: all;
  transform: scale(1);
}
.detalle img {
  background: #000;
  display: flex;
  width: 19vw;
  height: auto;
  margin: 1vh;
  border-radius: 1vw;
}

.txt {
  margin-left: 11vh;
  display: flex;
  justify-content: start;
  color: floralwhite;
}

.txt-scroll {
  color: #E8F7D7;
}

.container {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  overflow-x: auto;
  display: flex;
}
.container img {
  display: flex;
  width: 90vw;
  flex-wrap: nowrap;
  flex-direction: row;
}

.slides {
  display: flex;
  justify-content: center;
  padding: 1vw;
}

#slideBack {
  padding: 1vw;
  margin: 1vw;
}

#slide {
  padding: 1vw;
  margin: 1vw;
}

@media (max-width: 768px) {
  .detalle img {
    width: 40vw;
    height: auto;
    margin: 1vh;
    border-radius: 10px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  background-image: url(/assets/img/miniaturas/soutpark-port.png);
  background-size: 100% auto;
  width: 90vw;
  height: 30vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.banner .text-banner {
  padding: 20px;
  margin-bottom: 2vw;
  color: #E8F7D7;
  background: rgba(7, 0, 12, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0px;
}
.banner .text-banner h2 {
  padding: 0;
  margin: 0;
}
.banner .text-banner p {
  font-size: 13px;
}

.ico-play {
  width: 100vw;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}

div .ico-play {
  width: 10vh;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}
div .img-banner {
  max-width: 100%;
  height: auto;
}
div .button-banner {
  display: flex;
  width: 18vw;
  height: auto;
  background: #19AC54;
  backdrop-filter: blur(5px);
  border: 0px solid #07000c;
  font-weight: 900;
  color: #07000c;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
div .button-banner a:link {
  text-decoration: none;
  color: #E8F7D7;
}
div .button-banner:hover {
  background: rgba(7, 0, 12, 0.5);
  border: #19AC54 0.1px solid;
  transition-duration: 0.25;
  transform: scale(1.03);
}
@media (max-width: 1024px) {
  div .button-banner {
    top: 65vw;
    width: 33vw;
    height: 5vh;
    font-size: 1vh;
    border-radius: 3vh;
    font-size: x-large;
  }
}
@media (max-width: 800px) {
  div .banner {
    background-size: 100% 100%;
    width: 90vw;
    height: auto;
  }
}
div .button-banner {
  top: 60vw;
  width: 33vw;
  height: 5vh;
  border-radius: 3vh;
  font-size: small;
}
div .ico-play {
  width: 3vh;
  height: auto;
}

@media (max-width: 768px) {
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
  .button-banner {
    top: 63vw;
    width: 30vw;
    height: auto;
    border-radius: 3vh;
    font-size: small;
    font-weight: 300;
  }
  .button-banner p {
    font-weight: 500;
  }
  .ico-play {
    width: 3vh;
    height: auto;
  }
  .text-banner {
    border-radius: 10px;
  }
  .text-banner h2 {
    padding: 0;
    margin: 0;
  }
  .text-banner p {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .button-banner {
    top: 64vw;
    right: 33vw;
    width: 35vw;
    height: auto;
    font-size: small;
    border-radius: 3vh;
  }
  .ico-play {
    width: 3vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
}
@media (max-width: 380px) {
  .button-banner {
    top: 31vh;
    right: 36vw;
    width: 33vw;
    height: auto;
    font-size: xx-small;
  }
  .ico-play {
    width: 2vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #07000c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=play420.css.map */
