header {
  display: flex;
  top: 0;
  position: sticky;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(7, 0, 12, 0.7);
  backdrop-filter: blur(5px);
}
header .logo {
  width: 8vw;
  height: auto;
  margin-top: auto;
  margin-bottom: -0.5vw;
  margin-left: 0vh;
}
header .botones {
  padding: 1vh;
  height: 5vh;
}
header .botones .index {
  height: 4vh;
  width: 15vh;
  background-color: #19AC54;
  color: #07000c;
  border-radius: 10px;
  border: 0px #19AC54;
  padding: 0px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 0.5vh;
  transition-property: all;
  transform: scale(1);
  font-weight: bold;
}
header .botones .index:hover {
  background-color: #022B20;
  color: #E8F7D7;
  font-weight: bold;
  border: 0px #07000c solid;
  transition-duration: 0.25;
  transform: scale(1.08);
}
@media (max-width: 800px) {
  header .botones {
    padding: 1vh;
    height: auto;
  }
  header .botones .index {
    width: auto;
    height: auto;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  header .logo {
    display: block;
    width: 20vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .botones {
    padding: 2vh;
    height: auto;
  }
  .botones .index {
    width: auto;
    height: auto;
    padding: 1.5vw;
  }
  .logo {
    display: block;
    width: 15vw;
    margin: auto;
    height: auto;
  }
}
@media (max-width: 480px) {
  .botones {
    padding: 1vh;
    height: auto;
  }
  .botones .index {
    width: auto;
    height: auto;
    padding: 1.5vw;
  }
}
.txt-portada {
  color: #E8F7D7;
  text-align: justify;
  margin-left: 3vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
}

.txt-video {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  margin: 2vw;
}

.img-portada {
  width: 30vw;
  height: auto;
  border-radius: 15px;
}

.portada-video {
  display: flex;
  padding: 2vw;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #E8F7D7;
}
.container1 video {
  margin: 1vw;
  padding-bottom: 1vw;
  width: 20VW;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.container1 .EP {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media (max-width: 800px) {
  .img-portada {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
  }
  .portada-video {
    flex-direction: column;
    padding: 0;
  }
  .txt-portada {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .txt-video {
    font-size: 2.5vw;
    margin-left: 2vw;
  }
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container1 video {
    margin: 1vw;
    padding-bottom: 1vw;
    width: 55VW;
    height: auto;
    display: flex;
    align-items: center;
  }
  .container1 .EP {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
section {
  display: block;
  margin: 0;
  padding-bottom: 0;
}

.container-new-section {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  height: auto;
  padding-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
}

.new-section {
  display: flex;
  text-decoration: none;
  width: 19vw;
  height: auto;
  margin: 1vw;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
.new-section img {
  width: 19vw;
  height: auto;
  border-radius: 10px;
}

.new-section img:hover {
  border: 0px #19AC54 dashed;
  z-index: 10;
  transition-duration: 0.25;
  transform: scale(1.03);
}

.text-new-section {
  font-size: 3vh;
  font-weight: bold;
  color: #07000c;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-new-section {
    flex-direction: row;
  }
  .container-new-section .new-section {
    width: 18vw;
    height: auto;
    padding: 3vh;
  }
}
footer {
  background-color: rgba(2, 43, 32, 0.5);
  backdrop-filter: blur(5px);
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
footer .conten-footer {
  display: flex;
  justify-content: center;
}
footer .icon-social {
  width: 5vh;
  margin-right: 2vh;
  margin-left: 2vh;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  transition-property: all;
  transform: scale(1);
}
footer .icon-social:hover {
  transition-duration: 0.25;
  transform: scale(1.08);
}

@media (max-width: 800px) {
  footer {
    display: flex;
    justify-content: center;
  }
  footer .icon-social {
    width: 5vw;
    height: auto;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  background-image: url(/assets/img/miniaturas/soutpark-port.png);
  background-size: 100% auto;
  width: 90vw;
  height: 30vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.banner .text-banner {
  padding: 20px;
  margin-bottom: 2vw;
  color: #E8F7D7;
  background: rgba(7, 0, 12, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0px;
}

.ico-play {
  width: 100vw;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}

div .ico-play {
  width: 10vh;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}
div .img-banner {
  max-width: 100%;
  height: auto;
}
div .button-banner {
  display: flex;
  width: 18vw;
  height: auto;
  background: #19AC54;
  backdrop-filter: blur(5px);
  border: 0px solid #07000c;
  font-weight: 900;
  color: #07000c;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
div .button-banner a:link {
  text-decoration: none;
  color: #E8F7D7;
}
div .button-banner:hover {
  background: rgba(7, 0, 12, 0.5);
  border: #19AC54 0.1px solid;
  transition-duration: 0.25;
  transform: scale(1.03);
}
@media (max-width: 1024px) {
  div .button-banner {
    top: 65vw;
    width: 33vw;
    height: 5vh;
    font-size: 1vh;
    border-radius: 3vh;
    font-size: x-large;
  }
}
@media (max-width: 800px) {
  div .banner {
    background-size: 100% 100%;
    width: 90vw;
    height: auto;
  }
}
div .button-banner {
  top: 60vw;
  width: 33vw;
  height: 5vh;
  border-radius: 3vh;
  font-size: small;
}
div .ico-play {
  width: 3vh;
  height: auto;
}

@media (max-width: 768px) {
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
  .button-banner {
    top: 63vw;
    width: 30vw;
    height: auto;
    border-radius: 3vh;
    font-size: small;
    font-weight: 300;
  }
  .button-banner p {
    font-weight: 500;
  }
  .ico-play {
    width: 3vh;
    height: auto;
  }
}
@media (max-width: 480px) {
  .button-banner {
    top: 64vw;
    right: 33vw;
    width: 35vw;
    height: auto;
    font-size: small;
    border-radius: 3vh;
  }
  .ico-play {
    width: 3vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
}
@media (max-width: 380px) {
  .button-banner {
    top: 31vh;
    right: 36vw;
    width: 33vw;
    height: auto;
    font-size: xx-small;
  }
  .ico-play {
    width: 2vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
}
#scroll-horizontal {
  margin-top: 4vw;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-detalles {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6vh;
  border-radius: 15px;
}

.contenedor-detalles::-webkit-scrollbar-thumb {
  background-color: #19AC54;
  border-radius: 15px;
}

.contenedor-detalles::-webkit-scrollbar {
  width: 15px;
  height: 1vh;
}

.contenedor-detalles::-webkit-scrollbar-track {
  background-color: #07000c;
}

.detalle {
  display: flex;
  transition-property: all;
  transform: scale(1);
}
.detalle img {
  background: #000;
  display: flex;
  width: 19vw;
  height: auto;
  margin: 1vh;
  border-radius: 15px;
}

.txt {
  margin-left: 11vh;
  display: flex;
  justify-content: start;
  color: floralwhite;
}

.txt-scroll {
  color: #E8F7D7;
}

@media (max-width: 768px) {
  .detalle img {
    width: 40vw;
    height: auto;
    margin: 1vh;
    border-radius: 10px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  background-image: url(/assets/img/miniaturas/soutpark-port.png);
  background-size: 100% auto;
  width: 90vw;
  height: 30vw;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.banner .text-banner {
  padding: 20px;
  margin-bottom: 2vw;
  color: #E8F7D7;
  background: rgba(7, 0, 12, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 0px;
}

.ico-play {
  width: 100vw;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}

div .ico-play {
  width: 10vh;
  height: auto;
  margin-left: 1vh;
  margin-right: 1vh;
}
div .img-banner {
  max-width: 100%;
  height: auto;
}
div .button-banner {
  display: flex;
  width: 18vw;
  height: auto;
  background: #19AC54;
  backdrop-filter: blur(5px);
  border: 0px solid #07000c;
  font-weight: 900;
  color: #07000c;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  transition-property: all;
  transform: scale(1);
}
div .button-banner a:link {
  text-decoration: none;
  color: #E8F7D7;
}
div .button-banner:hover {
  background: rgba(7, 0, 12, 0.5);
  border: #19AC54 0.1px solid;
  transition-duration: 0.25;
  transform: scale(1.03);
}
@media (max-width: 1024px) {
  div .button-banner {
    top: 65vw;
    width: 33vw;
    height: 5vh;
    font-size: 1vh;
    border-radius: 3vh;
    font-size: x-large;
  }
}
@media (max-width: 800px) {
  div .banner {
    background-size: 100% 100%;
    width: 90vw;
    height: auto;
  }
}
div .button-banner {
  top: 60vw;
  width: 33vw;
  height: 5vh;
  border-radius: 3vh;
  font-size: small;
}
div .ico-play {
  width: 3vh;
  height: auto;
}

@media (max-width: 768px) {
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
  .button-banner {
    top: 63vw;
    width: 30vw;
    height: auto;
    border-radius: 3vh;
    font-size: small;
    font-weight: 300;
  }
  .button-banner p {
    font-weight: 500;
  }
  .ico-play {
    width: 3vh;
    height: auto;
  }
}
@media (max-width: 480px) {
  .button-banner {
    top: 64vw;
    right: 33vw;
    width: 35vw;
    height: auto;
    font-size: small;
    border-radius: 3vh;
  }
  .ico-play {
    width: 3vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
  .banner {
    background-size: 100% auto;
    width: 90vw;
    height: auto;
  }
}
@media (max-width: 380px) {
  .button-banner {
    top: 31vh;
    right: 36vw;
    width: 33vw;
    height: auto;
    font-size: xx-small;
  }
  .ico-play {
    width: 2vh;
    height: auto;
    margin-right: 0.5vh;
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #07000c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=play420.css.map */
