@use 'header';
@use 'videos';
@use'responsive-movil';
@use 'carrete';
@use 'footer';
@use 'banner-web';
@use 'scroll-horizontal';
@use 'cine';
@use 'sec-cat-var';
@import'banner-web';


$black : #07000c;
$withe : #E8F7D7;
$green_dark : #022B20;
$green1 : #19AC54;
$green2 : #808000;

body{
  margin: 0;
  padding: 0;
  background-color: $black;
  font-family: "Rubik", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}




